{% include 'base.html' %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Images demo</title>
  </head>
  <body>
    <div class="container-fluid">
        <form method="post" action="{% url 'uploadimage' %}" onsubmit="return formvalidate();" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page_tile">Manage Images</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="uploadimage_box">
                    <h5 class="image_box_title">Upload Images</h5>
                    <label for="input" id="label">
                        <ion-icon name="cloud-upload-outline"></ion-icon>
                        <span id="span">Upload your file here</span>
                        <input id="input" type="file" name="Mangeimages" class="image"  onchange="validateFileType()">
                      </label>
                      <button type="submit">Upload</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="old_images">
                    <h5 class="image_box_title">Old Images</h5>
                    <div class="olg_image_list">
                        <h3 class="old_image_title">AP Wire Image</h3>
                        <div class="image_list">
                        {% for i in img %}
                            {% if i.image %}
                                <img src="{{ i.image.url}}" width="100" height="100">
                            {% endif %}
                        {% endfor %}

                        <h3 class="old_image_title">AP News Image</h3>
                        {% for j in img2 %}
                            {% if j.image %}
                                <img src="{{ j.image.url}}" width="100" height="100">
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
              
            </div>
            </div>
            <div class="col-lg-6">
                <div class="new_images">
                    <h5 class="image_box_title">New Images</h5>
                    <div class="new_image_list">
                        <div class="image_list">
                        {% for ex in extra_img %}
                            {% if ex.image %}
                                <img src="{{ ex.image.url}}" width="100" height="100">
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
            </div>
            </div>
        </form>
        </div>
    </div>
    <br/>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
        document.getElementById("input").addEventListener("change", (e) => {
            document.getElementById("span").innerText = e.target.files[0].name;
          });

        function formvalidate() {
            let image = document.getElementById("input").value;
            if (image == "") {
                alert("Please Select Photo For Upload");
                return false;
            } 
        }
      </script>
  </body>
</html>
<script>
  {% comment %} disable anchor for publish on Ready for Release if it takes too long to load page {% endcomment %}

$(document).on('click','.publishRowClick',function(){
  $("#loaderSubmit").removeClass('d-none')
  $('.publishRowClick').addClass('disabledAnchor');
})

$(document).on('click','.publishRow2Click',function(){
  $("#loaderSubmit2").removeClass('d-none')
  $('.publishRow2Click').addClass('disabledAnchor');
})

{% comment %} logout tab dropdown  {% endcomment %}
$('.list-unstyled').click(function(){

  $(this).toggleClass('active');
   
  });

$(".list-unstyled li").click(function(){
  $(this).parent().children('li').removeClass('init')
  $(this).addClass('init')
})
  

{% comment %} image width validation  {% endcomment %}

  var _URL = window.URL || window.webkitURL;

  $(document).on('change','.image',function(){
    var file, img;


    if ((file = this.files[0])) {
        img = new Image();
        img.onload = function() {
          if(this.width > 1020 ){
            alert("image should not be more than 1020 pixels width");
            document.querySelector('#input').value = '';

            
            const x = document.getElementsByClassName('image');
            for (var i = 0; i < x.length; i++) {
              x[i].value = "";
          }
           }
        };
        img.onerror = function() {  
            alert( "not a valid file: " + file.type);
            const x = document.getElementsByClassName('image');
            for (var i = 0; i < x.length; i++) {
              x[i].value = "";
          }
        };
        img.src = _URL.createObjectURL(file);
 
 
    }
  })

  function validateFileType(){
    var fileName = document.getElementById("input").value;
    var idxDot = fileName.lastIndexOf(".") + 1;
    var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
    if (extFile=="jpg" || extFile=="jpeg"){
        
    }else{
        alert("Only jpg/jpeg files are allowed!");
        document.querySelector('#input').value = '';
    }   
}
</script>
{% include "modals.html" %}

