<!doctype html>
<html lang="en">
<head>
  {% load static %}
  {% load customtags %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal-style.css' %}" /> 
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">
  

  <title>AP-Shakti</title>
  <style>
    .owl-stage{
      padding-left:0% !important;
    }
    .disabledAnchor{
      pointer-events: none !important;
      cursor: default;
      color:white;
    }
  </style>
</head>

<body>
  
  {% if user.is_authenticated %}
  
  
{% include 'base.html'%}
            <!-- First Tab-->
            <div class="ns-slider-box-section" id="ApWireContent">
              <div class="table-carousel owl-carousel owl-theme">
               
               {% for key,val in context_dict.items %}

               
               {% comment %} {{UserCustom.accessint}} {% endcomment %}
               
               
                {% if forloop.counter <= user.accessint %}
                <div class="ns-slider-box slide" data-slide-index="{{forloop.counter0}}">   
                  {% if forloop.counter == 6 %}
                    <h5 id="loaderSubmit" class="d-none loader"> </h5>
                  {% endif %}
                  <div class="table_top_bar">
                    <div class="title">
                        <h5>{{forloop.counter}}. {{key|namereplace}}</h5>
                    </div>

                    {% comment %} <div class="select-button">
                      <div class="custom-select-category">
                       <div class="list-select-wrp" style="z-index:1">
                         <ul class="list-unstyled" id="wire_cat_ApWire_{{key|replaceSpacewithUnderScore }}"> 
                           <li value="0" class="news_cat init">Select Date Order</li>
                           {%for v in val%}
                           
                           {% endfor%}
                           <li value="Ascending" class="abstractclass">Ascending</li>
                           <li value="Descending" class="abstractclass">Descending</li>
                           
                         </ul>
                         <div class="downarrow">
                           <i class="fa fa-angle-down"></i>
                         </div>
                       </div>
                       
                   </div> 
                
                   
                 </div> {% endcomment %}

                    <div class="select-button">
                     <div class="custom-select-category">
                      <div class="list-select-wrp" style="z-index:1">
                        <ul class="list-unstyled" id="wire_cat_ApWire_{{key|replaceSpacewithUnderScore }}"> 
                          <li value="0" class="news_cat init">Select Category</li>
                          <li value="Show all" class="wire_cat">Show all</li>
                          {% for cat in category_dict %}
                          <li value="{{cat.pk}}" class="wire_cat" >{{cat.name}}</li>
                          {% endfor %}
                        </ul>
                        <div class="downarrow">
                          <i class="fa fa-angle-down"></i>
                        </div>
                      </div>
                      
                  </div> 
                  {% comment %} <a type="button" class="expandModal" id="modal_expand_{{key|replaceSpacewithUnderScore}}" > <i class="fa fa-expand" aria-hidden="true"></i>
                  </a>  {% endcomment %}
                  
                </div>

                {% comment %} <div class="select_box">
                      <select class="wire_cat box" id="wire_cat_ApWire_{{key|replaceSpacewithUnderScore }}" >
                        <option selected>Select Category</option>
                        
                        {% for cat in category_dict %}
                        <option value="{{cat.name}}">{{cat.name}}</option>
                        {% endfor %}
                      </select>
                    </div>   {% endcomment %}
                    
                  </div>  

                  


                  <div class="ns-slider-box-table sortablecolumn" >
                    
                  
                    {% comment %} {{user|validateuser:key}} {% endcomment %}
                    
                    <table class="table mytable"  id="ApWire_{{key|replaceSpacewithUnderScore }}">
                      <thead>
                        <tr>
                          <th id="column-header-1">Id</th>
                          <th class="sortit" id="column-header-2">Title</th>
                          <th id="column-header-3">Author</th>
                          <th id="column-header-4">Category </th>
                          <th class="sortit " id="column-header-5">Date <i class="fa fa-caret-up qwerty" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                          <th id="column-header-6">Status</th>
                          <th id="column-header-7">Word Count</th>
                          <th id="column-header-8">Action</th>
                          
                          
                        </tr>
                      </thead>
                      <tbody id="tableBody_{{key|replaceSpacewithUnderScore }}" class=" 
                          
                          {% if user|checkTablePermissionmove:key %}
                          connectedSortable
                          
                      
                      

                      {%endif%}
                      
                      {% if val|length < 1 %}
                      test
                      {% endif %}
                      " >
                      
                        {% for v in val %}
                        <tr id="{{key|replaceSpacewithUnderScore }}_{{v.pk}}"
                          class = "
                          {% if forloop.parentloop.counter == 2 and v.blog_release_status == "Draft" %}

                            {% now "Y-m-d" as todays_date %}
                            {% if v.date|checkDraftStatus:todays_date %}
                            colorclass
                            {% endif %}
                      {% endif %}
                          

                         ">
                         
                          
                         {% if v.pk <= 9 %}
                         <th>000{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 10 and v.pk <= 99%}
                         <th>00{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 100 and v.pk <= 999%}
                         <th>0{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 1000 and v.pk <= 9999%}
                         <th>{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 10000%}
                         <th>{{v.pk}}</th>
                         {% endif%}
                          <td>{{v.topic}}</td>
                          <td>{{v.author}}</td>
                          <td class="category" >{{v.category.name}}</td>

                          <td><span style="display:none">{{v.updated|date:"U"}}</span>{{v.updated|date:"d M y - H:i"}}</td>
                          
                          
                          {% comment %} <td>{{v.updated|date:"d M y - H:i"}}</td> {% endcomment %}
                          <td>{{v.blog_release_status}}</td>
                          <td>{{v|desc_count}}</td>
                          
                          {% comment %} {% if v.date < twodays.date %}
                          <script>
                            
                            tr_elem = "{{key|replaceSpacewithUnderScore}}__{{v.pk}}"
                            console.log(tr_elem)
                            var here = document.getElementById(tr_elem);
                            console.log(here)
                            
                          </script>
                          
                          {%endif%} {% endcomment %}
                          <td> <div class="new-row-control">
                            
                          
                            
                            {% if user|checkTablePermissionview:key %}
                            <a class="row-add viewRow" id="viewRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}"  ><i class="fa fa-eye"></i></a>
                            {% if forloop.parentloop.counter == 7 %}
                              <a class="row-add" href={% url 'downloadxml' v.pk %} target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                            {% endif %}
                            {% endif %}

                            {% if user|checkTablePermissionedit:key and forloop.parentloop.counter <= 5 %}
                              <a class="row-add editRow" id="editRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}"  ><i class="fa fa-edit"></i></a>
                            {% endif %}

                            

                            

                            

                            {% if user|checkTablePermissiondelete:key and forloop.parentloop.counter <= 5 %}
                            <a class="row-add deleteRow" data-toggle="modal" data-target="#detetemodal_{{v.pk}}" id="deleteRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" ><i class="fa fa-trash"></i></a>
                            {% endif %}

                            

                            
                            
                            {% comment %} {% if forloop.parentloop.counter == 6 %}
                            <a class="row-add downloadxml" id="downloadxml-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadxml' v.pk %}><i class="fa fa-file-excel-o"></i></a>
                            {%endif%} {% endcomment %}
                            
                            {% if user|checkTablePermissionpublish:key and forloop.parentloop.counter == 6 %}
                            <a class="row-add publishRow plane publishRowClick" id="publishRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" href={% url 'backblog' v.pk %}><i class="fa fa-backward"></i></a>
                            {%endif%}

                            {% if user|checkTablePermissionpublish:key and forloop.parentloop.counter == 6 %}
                            <a class="row-add publishRow plane publishRowClick" id="publishRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" href="{% url 'publishBlog' v.pk %}"><i class="fa fa-paper-plane"></i></a>
                            {%endif%}

                            {% if forloop.parentloop.counter == 7 %}
                            {% comment %} <a class="row-add downloadxml" id="downloadxml-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadxml' v.pk %}><i class="fa fa-file-excel-o"></i></a> {% endcomment %}
                            <a class="row-add downloadpdf" id="downloadpdf-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadpdf' v.pk %}><i class="fa fa-file-powerpoint-o"></i></a>
                            {% comment %} <a class="row-add downloadxmlfile2" id="downloadxmlfile2-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadxmlfile2' v.pk %}><i class="fa fa-file-excel-o"></i></a> {% endcomment %}
                            {%endif%}

                            {% if user|checkTablePermissiondelete:key and forloop.parentloop.counter == 7 %}
                            <a class="row-add deleteRow" data-toggle="modal" data-target="#detetemodal_{{v.pk}}" id="deleteRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" ><i class="fa fa-trash"></i></a>
                            {% comment %} <a class="row-add deleteRow" id="deleteRow-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" ><i class="fa fa-trash"></i></a> {% endcomment %}
                            {% endif %}

                            
                              
                            
                          

                        {% endfor %}
                      </tbody>
                    </table>
                  
                  </div>
                  {% if forloop.counter == 1 and user|checkTablePermissioncreate:key  %}
                  <div class="add-row-table">
                    <a style="cursor: pointer;" class="OpenAddModel" id="OpenAddModel_{{key|replaceSpacewithUnderScore }}">+ Add Stories</a>
                  </div>
                  {%endif%}


                  {% comment %}
                  {% if forloop.counter == 7 %}
                  <div class="add-row-table">
                    <a style="cursor: pointer;" href={%url 'viewxmlalldownload'%} class="OpenAddModel" id="XMLALL">+ Generate XML</a>
                  </div>
                  {%endif%}
                  {% endcomment %}

                  {% if forloop.counter == 6  %}
                  
                  <div class="table-print-wrp">
                    <div class="print-all-table">
                      {% comment %} <a style="cursor: pointer;" class="Wiredownloadxml" id="Wiredownload_{{key|replaceSpacewithUnderScore }}" href= {% url 'downloadxmlall' %}><i class="fa fa-plus"></i> Generate xml</a> {% endcomment %}
                    </div>
                     <div class="print-all-table-file2">
                      {% comment %} <a style="cursor: pointer;" class="Wiredownloadxmlfile2" id="Wiredownloadfile2_{{key|replaceSpacewithUnderScore }}" href = {% url 'downloadxmlallfile2' %} ><i class="fa fa-plus"></i> Generate xml</a> {% endcomment %}
                    </div> 
                </div>


             
                                
                            
                        
                     

                  {%endif%}
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <!-- First Tab-->


            <div class="ns-slider-box-section d-none" id="ApNewsContent">
              <div class="table-carousel owl-carousel owl-theme">
                
               
               {% for key,val in context_dict1.items %}
               {% comment %} {{UserCustom.accessint}} {% endcomment %}
               {% if forloop.counter <= user.accessint %}


                <div class="ns-slider-box slide" data-slide-index="{{forloop.counter0}}">   
                  {% if forloop.counter == 6 %}
                    <h5 id="loaderSubmit2" class="d-none loader"> </h5>
                  {% endif %}
                  <div class="table_top_bar">
                    <div class="title">
                        <h5>{{forloop.counter}}. {{ key|namereplace}}</h5>
                    </div>
                    <div class="select-button">
                     <div class="custom-select-category">
                      <div class="list-select-wrp" style="z-index:1">
                        <ul class="list-unstyled" id="news_cat_ApNews_{{key|replaceSpacewithUnderScore }}"> 
                          <li value="0" class=" news_cat init">Select Category</li>
                          <li value="Show all" class="news_cat">Show all</li>
                          {% for cat in category_dict %}
                          <li value="{{cat.pk}}" class="news_cat" >{{cat.name}}</li>
                          {% endfor %}
                        </ul>
                        <div class="downarrow">
                          <i class="fa fa-angle-down"></i>
                        </div>
                      </div>
                  </div> 
                  {% comment %} <a type="button" class="expandModal2" id="modal_expand2_{{key|replaceSpacewithUnderScore}}" > <i class="fa fa-expand" aria-hidden="true"></i>
                  </a>  {% endcomment %}
                </div> 
                
         
                  
                </div> 
                  <div class="ns-slider-box-table sortablecolumn">
                  
                    {% comment %} {{user|validateuser:key}} {% endcomment %}
                    
                    <table class="table mytable2"  id="ApNews_{{key|replaceSpacewithUnderScore }}">
                      <thead>
                        <tr>
                          <th id="column-header-1">Id</th>
                          <th id="column-header-2">Title</th>
                          <th id="column-header-3">Author</th>
                          <th id="column-header-4">Category </th>
                          <th class="sortit " id="column-header-5">Date <i class="fa fa-caret-up qwerty" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                          <th id="column-header-6">Status</th>
                          <th id="column-header-7">Word Count</th>
                          <th id="column-header-8">Action</th>
                          
                        </tr>
                      </thead>
                      <tbody id="News_tableBody_{{key|replaceSpacewithUnderScore }}" class="
                      
                            
                      {% if user|checkTablePermissionmove:key %}
                          connectedSortable2
                      
                      {% endif %}
                      {% if val|length < 1 %}
                      test
                      {% endif %}
                      " >
                  
                          
                        {% for v in val %}
                        
                        <tr id="ApNewsrow_{{key|replaceSpacewithUnderScore }}_{{v.pk}}"
                          class = "
                          {% if forloop.parentloop.counter == 2 and v.blog_release_status == "Draft" %}
                          {% now "Y-m-d" as todays_date %}
                          {% if v.date|checkDraftStatus:todays_date %}
                          colorclass
                          {% endif %}
                      {% endif %}
                          

                         ">
                        
                        
                          {% if v.pk <= 9 %}
                         <th>000{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 10 and v.pk <= 99%}
                         <th>00{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 100 and v.pk <= 999%}
                         <th>0{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 1000 and v.pk <= 9999%}
                         <th>{{v.pk}}</th>
                         {% endif%}
                         {% if v.pk >= 10000%}
                         <th>{{v.pk}}</th>
                         {% endif%}
                          <td>{{v.topic}}</td>
                          <td>{{v.author}}</td>
                          
                          <td class="category2">{{v.category.name}}</td>

                          <td>{{v.updated|date:"d M y - H:i"}}</td>
                          <td>{{v.blog_release_status}}</td>
                          <td>{{v|desc_count}}</td>
                          <td> <div class="new-row-control">
                            {% if user|checkTablePermissionview:key %}
                            <a class="row-add viewRow2" id="viewRow2-{{v.pk}}-{{key|replaceSpacewithUnderScore }}"  ><i class="fa fa-eye"></i></a>
                            {% if forloop.parentloop.counter == 7 %}
                              <a class="row-add" href={% url 'downloadxml2' v.pk %} target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                            {% endif %}
                            {% endif %}

                            {% if user|checkTablePermissionedit:key and forloop.parentloop.counter <= 5 %}
                              <a class="row-add editRow2" id="editRow2-{{v.pk}}-{{key|replaceSpacewithUnderScore }}"  ><i class="fa fa-edit"></i></a>
                            {% endif %}

                            {% if user|checkTablePermissiondelete:key and forloop.parentloop.counter <= 5 %}
                            <a class="row-add deleteRow2" data-toggle="modal" data-target="#detetemodal2_{{v.pk}}" id="deleteRow2-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" ><i class="fa fa-trash"></i></a>
                            {% endif %}
                            
                            {% comment %} {% if forloop.parentloop.counter == 6 %}
                            <a class="row-add downloadxml2file2" id="downloadxml2file2-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadxml2file2' v.pk %}><i class="fa fa-file-excel-o"></i></a>
                            {%endif%} {% endcomment %}

                            {% if user|checkTablePermissionpublish:key and forloop.parentloop.counter == 6 %}
                            <a class="row-add publishRow plane publishRow2Click" id="backblog-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" href={% url 'backblog2' v.pk %}><i class="fa fa-backward"></i></a>
                            {%endif%}

                            {% if user|checkTablePermissionpublish:key and forloop.parentloop.counter == 6 %}
                            <a class="row-add publishRow plane2 publishRow2Click" id="publishRow2-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" href={% url 'publishBlog2' v.pk %}><i class="fa fa-paper-plane"></i></a>
                            {%endif%}

                            {% if forloop.parentloop.counter == 7 %}
                            {% comment %} <a class="row-add downloadxml2file2" id="downloadxml2file2-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadxml2file2' v.pk %}><i class="fa fa-file-excel-o"></i></a> {% endcomment %}
                            <a class="row-add downloadpdf2" id="downloadpdf2-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadpdf2' v.pk %}><i class="fa fa-file-powerpoint-o"></i></a>
                            {% comment %} <a class="row-add downloadxmlfile2" id="downloadxmlfile2-{{key|replaceSpacewithUnderScore }}" href={% url 'downloadxmlfile2' v.pk %}><i class="fa fa-file-excel-o"></i></a> {% endcomment %}

                            {% if user|checkTablePermissiondelete:key and forloop.parentloop.counter == 7 %}
                            <a class="row-add deleteRow2" data-toggle="modal" data-target="#detetemodal2_{{v.pk}}" id="deleteRow2-{{v.pk}}-{{key|replaceSpacewithUnderScore }}" ><i class="fa fa-trash"></i></a>
                            
                            {% endif %}

                            {%endif%}
                            
                              
                            

                            
                            
                        {% endfor %}
                     
                     
                      </tbody>
                    </table>
                  
                  </div>
                  {% if forloop.counter == 1 and user|checkTablePermissioncreate:key  %}
                  <div class="add-row-table">
                    <a style="cursor: pointer;" class="NewsOpenAddModel" id="NewsOpenAddModel{{key|replaceSpacewithUnderScore }}">+ Add Stories</a>
                  </div>
                  {%endif%}

                  {% comment %}
                  {% if forloop.counter == 7 %}
                  <div class="add-row-table">
                    <a style="cursor: pointer;" href={%url 'downloadxmlall2file2'%} class="OpenAddModel" id="XMLALL">+ Generate XML</a>
                  </div>
                  {%endif%}
                  {% endcomment %}

                  {% if forloop.counter == 6  %}
                  <div class="table-print-wrp">
                  {% comment %} <div class="print-all-table">
                    <a style="cursor: pointer;" class="NewsOpenAddModelxml" id="NewsOpenAddModel_{{key|replaceSpacewithUnderScore }}" href = {% url 'downloadxmlall2' %} ><i class="fa fa-plus"></i> Generate xml</a>
                  </div> {% endcomment %}
                  <div class="print-all-table-file2">
                    {% comment %} <a style="cursor: pointer;" class="NewsOpenAddModelxmlfile2" id="NewsOpenAddModelfile2_{{key|replaceSpacewithUnderScore }}" href = {% url 'downloadxmlall2file2' %} ><i class="fa fa-plus"></i> Generate xml</a> {% endcomment %}
                  </div>
                </div>
             
                                
                            
                        
                     

                  {%endif%}
                </div>
                {% endif %}
                {% endfor %}

                
              </div>
            </div>
          

          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  {% endif %}

  {% include "js/base-script.html" %}

  {% include "modals.html" %}

{% include "js/script.html" %}
  
<script>
  $(document).on('click','.publishRowClick',function(){
    $("#loaderSubmit").removeClass('d-none')
    $('.publishRowClick').addClass('disabledAnchor');
  })

  $(document).on('click','.publishRow2Click',function(){
    $("#loaderSubmit2").removeClass('d-none')
    $('.publishRow2Click').addClass('disabledAnchor');
  })
</script>

</body>

</html>